body.davinci-game{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #0a5efb!important;
    justify-content: center;
}

.davinci-game .background{
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.davinci-game .background::before{
    background-image: url(/public/images/textura.png);
    content: '';
    width: 200%;
    display: block;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    height: 200%;
    -webkit-transform: translate(-50%,-50%) rotate(345deg);
    -moz-transform: translate(-50%,-50%) rotate(345deg);
    -ms-transform: translate(-50%,-50%) rotate(345deg);
    -o-transform: translate(-50%,-50%) rotate(345deg);
    transform: translate(-50%,-50%) rotate(345deg);
}

p, a h1, h2, h3, h4, h5, h6, li, ul, span, small, button{
    font-family: 'Prompt', sans-serif;
}

.davinci-game .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1058px;
    width: 95vw;
    /* height: 790px; */
    z-index: 2;
    margin-top: 10%;
}
.davinci-game .flex.play{
    max-width: 480px !important;
}
.davinci-game .flex.start{
    width: 450px;
    height: 655px;
    margin-top: 15%;
}

.flex header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;
}

header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header .logo h3{
    font-weight: bold;
    color: #fff;
}

.flex footer{
    height: 45px;
    min-height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;
}

footer p{
    color: #cecece;
}

.card.play-card{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    position: relative;
    margin: 10px 0;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.3);
    width: 100%;
}

.play-card .card-body{
    position: relative;
    display: flex;
    flex-direction: column;
    max-inline-size: 100%;
    padding-inline: 24px;
}


.btn.next-btn{
    margin-top: auto;
    border-width: 0.2rem;
    padding: 0.8em;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ff6300 !important;
    transition: 0.3s ease-in-out;
    border-color: #d55f16 !important;
    transition: 0.3s all;
}

.btn.next-btn:hover{
    background-color: #e65a03 !important;
    border-color: #e9610c !important;

}

.play-card .title{
    height: 85px;
    min-height: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.play-card .title .gTitle{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 370px;
    height: 84px;
    background-image: url(/public/images/title.png);
    background-position: center;
    background-repeat: no-repeat;
}

.play-card .title .gTitle h2{
    max-width: 270px;
    padding: 0 5px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: nunitoblack;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: #ffbf00;
    letter-spacing: 0;
    margin: 12px 0 0;
    text-shadow: 0 -1px 0 #fffa6d, #001b51 3px 0 0, #001b51 2.83487px 0.981584px 0, #001b51 2.35766px 1.85511px 0, #001b51 1.62091px 2.52441px 0, #001b51 0.705713px 2.91581px 0, #001b51 -0.287171px 2.98622px 0, #001b51 -1.24844px 2.72789px 0, #001b51 -2.07227px 2.16926px 0, #001b51 -2.66798px 1.37182px 0, #001b51 -2.96998px 0.42336px 0, #001b51 -2.94502px -0.571704px 0, #001b51 -2.59586px -1.50383px 0, #001b51 -1.96093px -2.27041px 0, #001b51 -1.11013px -2.78704px 0, #001b51 -0.137119px -2.99686px 0, #001b51 0.850987px -2.87677px 0, #001b51 1.74541px -2.43999px 0, #001b51 2.44769px -1.73459px 0, #001b51 2.88051px -0.838247px 0;
}

.card .content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.info{
    min-width: 400px;
    margin: 10px 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin: 20px 0 6px;
    flex-direction: column;
}

.actions{
    height: 70px;
    min-height: 70px;
    margin: 10px 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    height: auto;
    margin: 20px 0 6px;
}


.btYellowBig, .btBlueBig {
    cursor: pointer;
    width: 194px;
    height: 42px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
    border-radius: 34px;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    box-shadow: 0 0 0 5px #002043, 0 0 0 6px #7c92b0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: 1s all;
}
.btBlueBig {
    background-color: #13bafe;
    border-top-color: #66cfff;
    border-bottom-color: #248aed;
}
.btYellowBig {
    background-color: #ffbf00;
    border-top-color: #ffe100;
    border-bottom-color: #f88700;
}
.actions .btBlueBig, 
.actions .btYellowBig {
    margin: 10px;
}

.btYellowBig strong, .btBlueBig strong {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: nunitoblack;
    font-size: 19px;
    color: #001b4d;
    letter-spacing: 0;
    margin: 0 15px 0 0;
    text-transform: uppercase;
    word-break: break-word;
}

.btYellowBig strong, .btBlueBig strong {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: nunitoblack;
    font-size: 19px;
    color: #001b4d;
    letter-spacing: 0;
    margin: 0 15px 0 0;
    text-transform: uppercase;
    word-break: break-word;
}

.btYellowBig:hover {
    background-color: #ffcb00;
    border-top-color: #ffef7c;
    border-bottom-color: #f88700;
}

.btBlueBig:hover {
    background-color: #3fc8ff;
    border-top-color: #b1fdff;
    border-bottom-color: #006ad0;
}

.input-label{
    padding: 0 5px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: nunitoblack;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: #ffbf00;
    letter-spacing: 0;
    margin: 12px 0 0;
    text-shadow: 0 -1px 0 #fffa6d, #001b51 3px 0 0, #001b51 2.83487px 0.981584px 0, #001b51 2.35766px 1.85511px 0, #001b51 1.62091px 2.52441px 0, #001b51 0.705713px 2.91581px 0, #001b51 -0.287171px 2.98622px 0, #001b51 -1.24844px 2.72789px 0, #001b51 -2.07227px 2.16926px 0, #001b51 -2.66798px 1.37182px 0, #001b51 -2.96998px 0.42336px 0, #001b51 -2.94502px -0.571704px 0, #001b51 -2.59586px -1.50383px 0, #001b51 -1.96093px -2.27041px 0, #001b51 -1.11013px -2.78704px 0, #001b51 -0.137119px -2.99686px 0, #001b51 0.850987px -2.87677px 0, #001b51 1.74541px -2.43999px 0, #001b51 2.44769px -1.73459px 0, #001b51 2.88051px -0.838247px 0;
}

.form-group{
    min-width: 350px;
    margin-bottom: 0;
}

.form-group input{
    height: 48px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    text-align: left;
    padding: 0 10px;
    font-size: 18px;
    font-family: "Prompt";
    margin-top: -10px;
    border: 2px #868d96 solid;
    font-size: 18px;
    color: #797979;
}


.setting {
    min-width: 100%;
    margin: 10px 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin: 20px 0 6px;
    flex-direction: row;
    flex-wrap: wrap;
}


.selector{
    display: flex;
    flex-direction: column;
    flex: 1 1 15em;
    max-width: 9em;
    min-height: 9em;
    justify-content: center;
    margin: 0.5em;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.selector.active{
    border: 1px solid red;
}

.selector h2.mode-name{
    font-size: 18px;
    text-align: center;
}

.selector .img{
    margin: 0.25em 1.5em 0.2em;
    height: 5em;
    text-align: center;
}

.selector .img .logo{
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.game-info{
    display: flex;
    justify-content: center;
}

.game-info .detail{
    max-width: 500px;
}

.room-id{
    text-align: center;
    padding: 1rem;
    background-color: #181818;
    color: white;
    border-radius: 10px;
    max-width: 320px;
}

.room-id h2{

}

.game-info .playerlist{
    max-width: 900px;
    min-width: 90%;
}

.wating-screen{
    margin: 0 auto;
}

.game-img{
    display: flex;
    flex-direction: column;
    /* flex: 1 1 15em; */
    /* max-width: 9em;
    min-height: 9em; */
    justify-content: center;
    margin: 0.5em;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
.game-img .img{
    padding: 0.2rem;
}
.game-img .logo{
    width: 230px;
    height: 230px;
    object-fit: cover;
}
.game-info .hint {
    max-width: 930px;
    min-width: 90%;
}


@media only screen and (max-width: 767px) {
    .actions{
        flex-direction: column;
    }
    .actions .btBlueBig, 
    .actions .btYellowBig {
        width: 85%;
    }
}

.score{
    margin: 0 auto;
}

.score ul{
    list-style-type: none;
    padding: 0;
}

.score ul .item{
    display: flex;
    align-items: baseline;
    padding: 0.5rem;
    background-color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.3);
}

.item .username{
    width: 290px;
    margin: 0;
}

.item .point{
    margin: 0;
}

.content.chat{
    padding: 1rem;
}
.content.chat .dataChat{
    padding: 1rem 0rem 1rem 0rem;
    height: 550px;
    overflow: auto;
}
.content.chat .message {
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 10px 0rem;
}

.content.chat .chat-right .message{
    align-items: flex-end;
}

.content.chat .message .chat-content {
    float: right;
    padding: 0.7rem 1rem;
    margin: 0 1rem 5px 0;
    clear: both;
    color: #fff;
    background-image: linear-gradient(80deg, #0179fc, #004ffcc7);
    border-radius: 0.357rem;
    box-shadow: 0 4px 8px 0 rgba(34, 41, 47, 0.12);
    max-width: 75%;
}
.content.chat .chat-right .message .chat-content{
    margin: 0 0 5px 0;
}
.content.chat .message .chat-left .chat-content {
    float: left;
    margin: 0 0 10px 1rem;
    color: #6e6b7b;
    background: none;
    background-color: white;
}

.content.chat .message p{
    margin: 0;
}

.ChatBox{
    height: 90px;
    resize: none;
}

.chat-win .message .chat-content{
    max-width: 100% !important;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(80deg, #06c52f, #00d398c7) !important;
}


.chat-lottie{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}